
<div class="card flex justify-center">
    <p-button label="Check"
    styleClass="bg-indigo-100 text-green"
    />
</div>

<h1>contact manager</h1>
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span>
<p-button label="info" severity="info"></p-button>
<p-button label="exito" severity="success"></p-button>
<p-button label="aviso" severity="warn"></p-button>
<p-button label="eliminar" severity="danger"></p-button>
<router-outlet />
